<header>
  <nav>
    <ul>
      <li><a href="/home" routerLinkActive="active">Home</a></li>
      <li>
        <a href="#" routerLinkActive="active">Venda</a>
        <ul class="submenu">
          <li><a href="/venda/salvar" routerLinkActive="active">Fazer Venda</a></li>
          <li><a href="/venda/listar" routerLinkActive="active">Listar Vendas</a></li>
        </ul>
      </li>
      <li>
        <a href="#" routerLinkActive="active">Produto</a>
        <ul class="submenu">
          <li><a href="/produto/listar" routerLinkActive="active">Listar Produtos</a></li>
          <li><a href="/produto/cadastrar" routerLinkActive="active">Cadastrar Produto</a></li>
          <li><a href="/produto/pegar" routerLinkActive="active">Pegar pelo ID</a></li>
          <li><a href="/produto/atualizar" routerLinkActive="active">Atualizar Produto</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
