<main>
    <form (ngSubmit)="salvarVenda()" #vendaForm="ngForm">
        <div>
          <label for="produtoId">Produto ID:</label>
          <input type="number" id="produtoId" [(ngModel)]="novaVenda.produtoId" name="produtoId" required>
        </div>
        <div>
          <label for="cliente">Cliente:</label>
          <input type="text" id="cliente" [(ngModel)]="novaVenda.cliente" name="cliente" required>
        </div>
        <div>
          <label for="quantidade">Quantidade:</label>
          <input type="number" id="quantidade" [(ngModel)]="novaVenda.quantidade" name="quantidade" required>
        </div>
        <button type="submit" [disabled]="!vendaForm.form.valid">Salvar Venda</button>
      </form>
</main>